*
{
    font-family: Segoe UI Light ;
}
header
{
    background-image: url(../bg-portfolio1.jpg);
    background-size: cover;
    background-position: center center;
}
nav
{
    background-color: rgba(0, 0, 0, 0.3);
}
nav ul li a
{
    font-size: 20px;
}
 h2 
{
    font-size: 44px;
}
.home-page h3
{
    font-size: 36px;
}
.home-page p::after
{
    content: " |";
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes typing {
    0%{content: " |";}
    5%{content: "D|";}
    10%{content: "De|";}
    15%{content: "Des|";}
    20%{content: "Desi|";}
    25%{content: "Desig|";}
    30%{content: "Design|";}
    35%{content: "Designe|";}
    40%{content: "Designer|";}
    45%{content: "Designe|";}
    50%{content: "Design|";}
    55%{content: "Desig|";}
    60%{content: "Desi|";}
    65%{content: "Des|";}
    70%{content: "De|";}
    75%{content: "D|";}
    80%{content: "|";}
    

}
@media screen and (max-width:772px) {

    header
    {
        height: auto;
    }
}
 img
{
    border-radius: 10%;
} 
.projects .child
{
    border-radius: 10%;
}
.home-page .icons .icon
{
    border: 1px solid rgba(0, 0, 0, 0.3); 
    width: 40px;
    height: 40px;
    color: white;
}
.home-page .icons .icon a
{
    color: #000;
}
